/* 用于覆盖element的默认配色以及样式 */
.el-table__row.light-primary-color:hover > td{
  background: #C5CAE9 !important;
}
.el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover{
  background-color: #C5CAE9;
  border-color: #C5CAE9;
}
.el-button--primary{
  background-color: #3F51B5;
  border-color: #3F51B5;
}
.el-button--primary:focus, .el-button--primary:hover{
  background-color: #586ee8;
  border-color: #586ee8;
}
.el-input.is-active .el-input__inner,
.el-input__inner:focus, .el-textarea__inner:focus,
.el-select .el-input.is-focus .el-input__inner,
.el-pagination__sizes .el-input .el-input__inner:hover{
  border-color: #3F51B5;
}
.el-tag .el-icon-close:hover {
  background-color: #7586f3;
}
.el-tag .el-icon-close{
  color: #00BCD4;
  line-height: 17px;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected,
.el-cascader-menu__item.is-active,
.el-tag,
.el-pager li.active,
.el-tabs__item.is-active,
.el-tabs__item:hover,
.el-select-dropdown__item.selected{
  color: #00BCD4;
}


/* 全局样式begin */
.iconfont{
  display: inline-block;
  height: 18px;
  width: 24px;
  line-height: 18px;
  margin-right: 5px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
}
.el-popover{
  padding: 6px 0;
}
.vertical-center{
  display: flex;
  align-items: center;
}
.padding-b-20{
  padding-bottom: 20px;
}
.short-label{
  width: 60px;
  color: #909399;
  font-size: 14px;
}
.overflow-hidden{
  overflow: hidden;
}
textarea{
  font-family: Arial;
}
.box-content{
  border-radius: 4px;
  box-shadow: 0 0 2px 1px #b0b8e64f;
}
/* 全局样式end */